<script type="text/template" id="template_musicnew_content_item">
    <% _.each(musicnew, function(item, index){ %>
        <% if(!item.song_id){return;} %>
        <li class="song url log" 
            data-songid="<%= item.song_id %>">
            <div class="left">
                <div class="rank equal"><%= ((page * 20) + (parseInt(index,10) + 1)) %></div>
                <div class="info">
                    <b><%= item.title %></b>
                    <br/>
                    <span class="txt"><%= item.author %></span>
                </div>
            </div>
            <div class="download need-active">обть</div>
        </li>
    <% }); %>
</script>