<script type="text/template" id="template_categorydetail_content">
    <section class="content">
        <ul class="list">
        <% _.each(categorydetail.songlist, function(item, index){ %>
            <li class="song url log"
                data-songid="<%= item.song_id %>">
                <div class="left">
                    <div class="info">
                        <b><%= item.title %></b>
                        <br><span class="txt"><%= item.author %></span>
                    </div>
                </div>
                <div class="download need-active">下载</div></li>
        <% }); %>
            <!--<li class="load-more need-active">查看更多...</li>-->
        </ul>
    </section>
</script>
